<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
<p>This is the public landing page.</p>
<span><%= render "icon", name: "star" %></span><span>Welcome to the home page</span>
<%= render "icon", name: "heart" %>
